In [ ]:
import pandas as pd
import numpy as np

# 기술 통계 계산과 요약

## 요약 통계

|메서드|설명|
|---|---|
|head,tail|series나 dataframe의 몇 개 데이터만 보여줌|
|describe|series나 dataframe의 각 컬럼에 대한 요약 통계|
|count| na 값을 제외한 값의 개수를 반환|
|min, max| 최소값, 최대값|
|argmin, argmax|최소값, 최대값을 가진 색인의 위치(정수)를 반환|
|idxmin, idxmax|최소값, 최대값을 가진 색인의 값을 반환|
|sum|합|
|mean, median|평균, 중앙값|
|var, std|분산, 표준편차|

* pandas 객체의 기술 통계는 누락된 데이터를 배제하고 처리함.

In [ ]:
stock = pd.read_csv('stock_2020_01.csv', 
                    encoding = "euc-kr")

In [ ]:
stock.head()

                    Date    kospi  kosdaq  gold_fut_132030  Bond_273130
0  2020. 1. 2 오후 3:30:00  2175.17  674.02            10845       108215
1  2020. 1. 3 오후 3:30:00  2176.46  669.93            11000       108565
2  2020. 1. 6 오후 3:30:00  2155.07  655.31            11245       108745
3  2020. 1. 7 오후 3:30:00  2175.54  663.44            11180       108400
4  2020. 1. 8 오후 3:30:00  2151.31  640.94            11360       108270

In [ ]:
frame = pd.DataFrame([[10, 4, 'a'], [10, 2.5, 'b'], [np.nan, 10, 'a']], 
                     index=['i1', 'i2', 'i3'],
                      columns=['c1', 'c2', 'c3'])

In [ ]:
frame.describe()

         c1         c2
count   2.0   3.000000
mean   10.0   5.500000
std     0.0   3.968627
min    10.0   2.500000
25%    10.0   3.250000
50%    10.0   4.000000
75%    10.0   7.000000
max    10.0  10.000000

In [ ]:
frame.describe(include='object')

       c3
count   3
unique  2
top     a
freq    2

In [ ]:
frame.describe(include='all')

          c1         c2   c3
count    2.0   3.000000    3
unique   NaN        NaN    2
top      NaN        NaN    a
freq     NaN        NaN    2
mean    10.0   5.500000  NaN
std      0.0   3.968627  NaN
min     10.0   2.500000  NaN
25%     10.0   3.250000  NaN
50%     10.0   4.000000  NaN
75%     10.0   7.000000  NaN
max     10.0  10.000000  NaN

In [ ]:
frame.max()

c1    10
c2    10
c3     b
dtype: object

In [ ]:
frame.min(axis=1)

i1     4.0
i2     2.5
i3    10.0
dtype: float64

In [ ]:
frame.sum()

c1      20
c2    16.5
c3     aba
dtype: object

## unique, value_counts

|메서드|설명|
|---|---|
|unique|series에서 중복되는 값을 제외하고 유일값만 포함하는 배열을 반환.|
|value_conuts|series에서 유일값에 대한 색인과 도수를 계산|

In [ ]:
obj = pd.Series([2, 1, 3, 3, 1, 5, np.nan, 1, 2])
obj

0    2.0
1    1.0
2    3.0
3    3.0
4    1.0
5    5.0
6    NaN
7    1.0
8    2.0
dtype: float64

In [ ]:
obj.unique()

array([ 2.,  1.,  3.,  5., nan])

In [ ]:
obj.value_counts()

1.0    3
3.0    2
2.0    2
5.0    1
dtype: int64

In [ ]:
# normalize
obj.value_counts(normalize=True)

1.0    0.375
3.0    0.250
2.0    0.250
5.0    0.125
dtype: float64

In [ ]:
obj = pd.Series(list('abcabcaaa')+[None])
obj

0       a
1       b
2       c
3       a
4       b
5       c
6       a
7       a
8       a
9    None
dtype: object

In [ ]:
obj.unique()

array(['a', 'b', 'c', None], dtype=object)

In [ ]:
obj.value_counts()

a    5
c    2
b    2
dtype: int64

# 정렬

## Series 정렬

* Series.sort_index : index를 기준으로 정렬
* Series.sort_values: values를 기준으로 정렬

In [ ]:
obj = pd.Series([1,2,3,-1,-2], index=list('adebc'))

In [ ]:
obj

a    1
d    2
e    3
b   -1
c   -2
dtype: int64

In [ ]:
obj.sort_index()

a    1
b   -1
c   -2
d    2
e    3
dtype: int64

In [ ]:
obj.sort_index(ascending=False)

e    3
d    2
c   -2
b   -1
a    1
dtype: int64

In [ ]:
obj.sort_values()

c   -2
b   -1
a    1
d    2
e    3
dtype: int64

In [ ]:
obj = pd.Series([10, np.nan, 20, 0, np.nan])

In [ ]:
obj

0    10.0
1     NaN
2    20.0
3     0.0
4     NaN
dtype: float64

In [ ]:
obj.sort_values()

3     0.0
0    10.0
2    20.0
1     NaN
4     NaN
dtype: float64

In [ ]:
obj.sort_values(ascending=False)

2    20.0
0    10.0
3     0.0
1     NaN
4     NaN
dtype: float64

In [ ]:
obj.sort_values(na_position='first')

1     NaN
4     NaN
3     0.0
0    10.0
2    20.0
dtype: float64

## DataFrame 정렬

* DataFrame.sort_index: index를 기준으로 정렬
* DataFrame.sort_values: values를 기준으로 정렬

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape(3,3), index = list('acb'), columns = list('edf'))
frame

   e  d  f
a  0  1  2
c  3  4  5
b  6  7  8

In [ ]:
frame.sort_index()

   e  d  f
a  0  1  2
b  6  7  8
c  3  4  5

In [ ]:
frame.sort_index(axis=1)

   d  e  f
a  1  0  2
c  4  3  5
b  7  6  8

In [ ]:
frame = pd.DataFrame({'a': [5, 4, 10, 10, 8], 'b': [2, 0, 3, 1, 4] })
frame

    a  b
0   5  2
1   4  0
2  10  3
3  10  1
4   8  4

In [ ]:
frame

    a  b
0   5  2
1   4  0
2  10  3
3  10  1
4   8  4

In [ ]:
frame.sort_values(by='a', ascending = False)

    a  b
2  10  3
3  10  1
4   8  4
0   5  2
1   4  0

In [ ]:
frame.sort_values(by=['a', 'b'], ascending = [False, True])

    a  b
3  10  1
2  10  3
4   8  4
0   5  2
1   4  0

# 함수 적용과 매핑 apply, applymap, map

## Series

In [ ]:
series = pd.Series(np.arange(1, 4, 1)*100)
series

0    100
1    200
2    300
dtype: int64

In [ ]:
series.map('${}'.format)

0    $100
1    $200
2    $300
dtype: object

In [ ]:
series.map('{}달러'.format)

0    100달러
1    200달러
2    300달러
dtype: object

In [ ]:
# lambda
f = lambda x: np.add(x, 3)
series.map(f)

0    103
1    203
2    303
dtype: int64

In [ ]:
series.map({100:'C', 200:'B', 300:'A'})

0    C
1    B
2    A
dtype: object

In [ ]:
s = pd.Series([20, 21, 12], index=['London', 'New York', 'Helsinki'])
s

London      20
New York    21
Helsinki    12
dtype: int64

In [ ]:
s

London      20
New York    21
Helsinki    12
dtype: int64

In [ ]:
def sub_custom_value(x, val) :
    return x - val

In [ ]:
s.apply(sub_custom_value, args=(10,))

London      10
New York    11
Helsinki     2
dtype: int64

In [ ]:
def add_custom_values(x, **kwargs):
    for month in kwargs:
        x += kwargs[month]
    return x

In [ ]:
s.apply(add_custom_values, june=30 , july=20, august=25)

London      95
New York    96
Helsinki    87
dtype: int64

## DataFrame

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(3, 4), dtype=int, columns = list('abcd'))
frame

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
frame

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [ ]:
frame.apply(lambda x: x.max()-x.min())

a    8
b    8
c    8
d    8
dtype: int64

In [ ]:
frame.apply(lambda x: x.max()-x.min(), axis=1)

0    3
1    3
2    3
dtype: int64

In [ ]:
frame.applymap(lambda x: x**2)

    a   b    c    d
0   0   1    4    9
1  16  25   36   49
2  64  81  100  121

# 데이터 정제, 준비

## 데이터 삭제
- drop

In [ ]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), 
                         columns = ['c1', 'c2', 'c3', 'c4'],
                         index = ['r1', 'r2', 'r3','r4'])
frame

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15

In [ ]:
frame

    c1  c2  c3  c4
r1   0   1   2   3
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15

In [ ]:
frame.drop('r1')

    c1  c2  c3  c4
r2   4   5   6   7
r3   8   9  10  11
r4  12  13  14  15

In [ ]:
frame.drop('c2', axis = 1)

    c1  c3  c4
r1   0   2   3
r2   4   6   7
r3   8  10  11
r4  12  14  15

In [ ]:
frame.drop(columns=['c3', 'c4'])

    c1  c2
r1   0   1
r2   4   5
r3   8   9
r4  12  13

In [ ]:
# inplace
frame.drop(['r2'], inplace=True)
frame

    c1  c2  c3  c4
r1   0   1   2   3
r3   8   9  10  11
r4  12  13  14  15

In [ ]:
# 할당 
frame = frame.drop(['r3'])
frame

    c1  c2  c3  c4
r1   0   1   2   3
r4  12  13  14  15

## 데이터 병합

### concat

In [ ]:
s1 = pd.Series([100, 200], index=['c', 'b'])
s2 = pd.Series([300, 300, 300], index=['c', 'd', 'e'])
s3 = pd.Series([500, 600], index=['f', 'g'])

In [ ]:
print(s1, s2, s3, sep='\n\n')

c    100
b    200
dtype: int64

c    300
d    300
e    300
dtype: int64

f    500
g    600
dtype: int64

In [ ]:
pd.concat([s1, s2, s3])

c    100
b    200
c    300
d    300
e    300
f    500
g    600
dtype: int64

In [ ]:
pd.concat([s1, s2], axis=1)

       0      1
c  100.0  300.0
b  200.0    NaN
d    NaN  300.0
e    NaN  300.0

In [ ]:
data1 = pd.DataFrame({'id': ['01', '02', '03', '04', '05', '06'], 'col1': np.random.randint(0, 50, 6), 'col2':np.random.randint(1000, 2000, 6)})
data2 = pd.DataFrame({'id': ['04', '05', '06', '07'], 'col1': np.random.randint(1000, 5000, 4)})

In [ ]:
pd.concat([data1, data2])

   id  col1    col2
0  01    43  1918.0
1  02    17  1103.0
2  03    31  1269.0
3  04    12  1991.0
4  05    19  1853.0
5  06     1  1127.0
0  04  3876     NaN
1  05  2076     NaN
2  06  1509     NaN
3  07  4533     NaN

In [ ]:
pd.concat([data1, data2], axis=1)

   id  col1  col2   id    col1
0  01    43  1918   04  3876.0
1  02    17  1103   05  2076.0
2  03    31  1269   06  1509.0
3  04    12  1991   07  4533.0
4  05    19  1853  NaN     NaN
5  06     1  1127  NaN     NaN

### merge

In [ ]:
data1 = pd.DataFrame({'id': ['01', '02', '03', '04', '05', '06'], 'col1': np.random.randint(0, 50, 6), 'col2':np.random.randint(1000, 2000, 6)})
data1

   id  col1  col2
0  01     5  1083
1  02    29  1548
2  03     6  1594
3  04    16  1763
4  05     7  1305
5  06    20  1070

In [ ]:
data2 = pd.DataFrame({'id': ['04', '05', '06', '07'], 'col1': np.random.randint(1000, 5000, 4)})
data2

   id  col1
0  04  4532
1  05  2599
2  06  4556
3  07  3547

In [ ]:
data1

   id  col1  col2
0  01     5  1083
1  02    29  1548
2  03     6  1594
3  04    16  1763
4  05     7  1305
5  06    20  1070

In [ ]:
data2

   id  col1
0  04  4532
1  05  2599
2  06  4556
3  07  3547

In [ ]:
#inner join
pd.merge(data1, data2, on='id')

   id  col1_x  col2  col1_y
0  04      16  1763    4532
1  05       7  1305    2599
2  06      20  1070    4556

In [ ]:
#left join
pd.merge(data1, data2, on='id', how='left')

   id  col1_x  col2  col1_y
0  01       5  1083     NaN
1  02      29  1548     NaN
2  03       6  1594     NaN
3  04      16  1763  4532.0
4  05       7  1305  2599.0
5  06      20  1070  4556.0

In [ ]:
# outer join
pd.merge(data1, data2, on='id', how='outer')

   id  col1_x    col2  col1_y
0  01     5.0  1083.0     NaN
1  02    29.0  1548.0     NaN
2  03     6.0  1594.0     NaN
3  04    16.0  1763.0  4532.0
4  05     7.0  1305.0  2599.0
5  06    20.0  1070.0  4556.0
6  07     NaN     NaN  3547.0

In [ ]:
# key 다를 경우
data1 = pd.DataFrame({'lkey': ['a', 'b', 'c', 'd'], 'value': [1, 2, 3, 5]})
data2 = pd.DataFrame({'rkey': ['d', 'e', 'a', 'c'], 'value': [5, 6, 7, 8]})

pd.merge(data1, data2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0    a        1    a        7
1    c        3    c        8
2    d        5    d        5

## missing data 처리

|함수|설명|
|---|---|
|isnull|누락되거나 NA(not available) 값을 알려주는 불리언 값들이 저장된 객체를 반환|
|notnull|isnull과 반대되는 메서드|
|fillna|누락된 데이터에 값을 채우는 메서드. (특정한 값이나 ffill, bfill 같은 보간 메서드 적용)|
|dropna|누락된 데이터가 있는 축(로우, 컬럼)을 제외시키는 메서드|

In [ ]:
obj = pd.Series(['apple', 'mango', np.nan, None, 'peach'])

In [ ]:
obj

0    apple
1    mango
2      NaN
3     None
4    peach
dtype: object

In [ ]:
obj.isnull()

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [ ]:
obj.notnull()

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [ ]:
obj.dropna()

0    apple
1    mango
4    peach
dtype: object

In [ ]:
obj.fillna('-')

0    apple
1    mango
2        -
3        -
4    peach
dtype: object

In [ ]:
frame = pd.DataFrame([[np.nan, np.nan, np.nan, np.nan], [10, 5, 40, 6],
                      [5, 2, 30, 8], [20, np.nan, 20, 6], [15, 3, 10, np.nan]],
                     columns=['x1', 'x2', 'x3', 'y'])
frame

     x1   x2    x3    y
0   NaN  NaN   NaN  NaN
1  10.0  5.0  40.0  6.0
2   5.0  2.0  30.0  8.0
3  20.0  NaN  20.0  6.0
4  15.0  3.0  10.0  NaN

In [ ]:
frame.dropna()

     x1   x2    x3    y
1  10.0  5.0  40.0  6.0
2   5.0  2.0  30.0  8.0

In [ ]:
# how
frame.dropna(how='all')

     x1   x2    x3    y
1  10.0  5.0  40.0  6.0
2   5.0  2.0  30.0  8.0
3  20.0  NaN  20.0  6.0
4  15.0  3.0  10.0  NaN

In [ ]:
frame['e'] = np.nan
frame

     x1   x2    x3    y   e
0   NaN  NaN   NaN  NaN NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  NaN  20.0  6.0 NaN
4  15.0  3.0  10.0  NaN NaN

In [ ]:
# axis 
frame.dropna(axis=1, how='all')

     x1   x2    x3    y
0   NaN  NaN   NaN  NaN
1  10.0  5.0  40.0  6.0
2   5.0  2.0  30.0  8.0
3  20.0  NaN  20.0  6.0
4  15.0  3.0  10.0  NaN

In [ ]:
frame

     x1   x2    x3    y   e
0   NaN  NaN   NaN  NaN NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  NaN  20.0  6.0 NaN
4  15.0  3.0  10.0  NaN NaN

In [ ]:
frame.fillna(0)

     x1   x2    x3    y    e
0   0.0  0.0   0.0  0.0  0.0
1  10.0  5.0  40.0  6.0  0.0
2   5.0  2.0  30.0  8.0  0.0
3  20.0  0.0  20.0  6.0  0.0
4  15.0  3.0  10.0  0.0  0.0

In [ ]:
frame.fillna({'x1': 10, 'y':0})

     x1   x2    x3    y   e
0  10.0  NaN   NaN  0.0 NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  NaN  20.0  6.0 NaN
4  15.0  3.0  10.0  0.0 NaN

In [ ]:
frame

     x1   x2    x3    y   e
0   NaN  NaN   NaN  NaN NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  NaN  20.0  6.0 NaN
4  15.0  3.0  10.0  NaN NaN

In [ ]:
frame.fillna(method='bfill')

     x1   x2    x3    y   e
0  10.0  5.0  40.0  6.0 NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  3.0  20.0  6.0 NaN
4  15.0  3.0  10.0  NaN NaN

In [ ]:
frame.fillna(method='ffill')

     x1   x2    x3    y   e
0   NaN  NaN   NaN  NaN NaN
1  10.0  5.0  40.0  6.0 NaN
2   5.0  2.0  30.0  8.0 NaN
3  20.0  2.0  20.0  6.0 NaN
4  15.0  3.0  10.0  6.0 NaN

## 데이터 변형

### 중복제거

- duplicated() : 각 로우가 중복인지(True) 아닌지(False) 알려주는 불리언 series 반환 
- drop_duplicates(): duplicated 배열이 False인 dataframe 반환

In [ ]:
data = pd.DataFrame({'id':['0001', '0002', '0003', '0001'], 'name': ['a', 'b', 'c', 'a']})
data

     id name
0  0001    a
1  0002    b
2  0003    c
3  0001    a

In [ ]:
data.duplicated()

0    False
1    False
2    False
3     True
dtype: bool

In [ ]:
data.drop_duplicates()

     id name
0  0001    a
1  0002    b
2  0003    c

In [ ]:
data['phone'] = range(4)
data

     id name  phone
0  0001    a      0
1  0002    b      1
2  0003    c      2
3  0001    a      3

In [ ]:
data.drop_duplicates(subset=['id'], keep='last')

     id name  phone
1  0002    b      1
2  0003    c      2
3  0001    a      3

### 값 치환하기

- replace

In [ ]:
obj = pd.Series([10, -999, 4, 5, 7, 'n'])

In [ ]:
obj.replace(-999, np.nan)

0     10
1    NaN
2      4
3      5
4      7
5      n
dtype: object

In [ ]:
obj.replace([-999, 'n'], np.nan)

0    10.0
1     NaN
2     4.0
3     5.0
4     7.0
5     NaN
dtype: float64

### binning

In [ ]:
ages = [20, 35, 67, 39, 59, 44, 56, 77, 28, 20, 22, 80, 32, 46, 52, 19, 33, 5, 15, 50, 29, 21, 33, 48, 85, 80, 31, 10]

In [ ]:
bins = [0, 20, 40, 60, 100]

In [ ]:
cuts = pd.cut(ages, bins)
cuts

[(0, 20], (20, 40], (60, 100], (20, 40], (40, 60], ..., (40, 60], (60, 100], (60, 100], (20, 40], (0, 20]]
Length: 28
Categories (4, interval[int64]): [(0, 20] < (20, 40] < (40, 60] < (60, 100]]

In [ ]:
cuts.categories

IntervalIndex([(0, 20], (20, 40], (40, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [ ]:
cuts.codes

array([0, 1, 3, 1, 2, 2, 2, 3, 1, 0, 1, 3, 1, 2, 2, 0, 1, 0, 0, 2, 1, 1,
       1, 2, 3, 3, 1, 0], dtype=int8)

In [ ]:
cuts.value_counts()

(0, 20]       6
(20, 40]     10
(40, 60]      7
(60, 100]     5
dtype: int64

In [ ]:
group_names = ['10대 이하','20-30대','40-50대','60대 이상']
pd.cut(ages, bins, labels=group_names)

[10대 이하, 20-30대, 60대 이상, 20-30대, 40-50대, ..., 40-50대, 60대 이상, 60대 이상, 20-30대, 10대 이하]
Length: 28
Categories (4, object): [10대 이하 < 20-30대 < 40-50대 < 60대 이상]

In [ ]:
# 구간을 균등한 길이로 나눔
pd.cut(ages, 4, precision=1).value_counts()

(4.9, 25.0]     8
(25.0, 45.0]    9
(45.0, 65.0]    6
(65.0, 85.0]    5
dtype: int64

In [ ]:
# 개수들이 균등한 비율이 되도록 나눔
pd.qcut(ages, 4).value_counts()

(4.999, 21.75]    7
(21.75, 34.0]     7
(34.0, 53.0]      7
(53.0, 85.0]      7
dtype: int64

### get_dummies

In [ ]:
s = pd.Series(['f','f','m','f','m'], index=['a','b','c','d','e'], name='sex')
s

a    f
b    f
c    m
d    f
e    m
Name: sex, dtype: object

In [ ]:
s

a    f
b    f
c    m
d    f
e    m
Name: sex, dtype: object

In [ ]:
df = pd.DataFrame({'col1': [10, 20, 30],
                   'col2': ['a', 'b', 'a']})
df

   col1 col2
0    10    a
1    20    b
2    30    a

In [ ]:
pd.get_dummies(df)

   col1  col2_a  col2_b
0    10       1       0
1    20       0       1
2    30       1       0

In [ ]:
df = pd.DataFrame({'col1': ['001', '002', '003', '004', '005', '006'], 
                   'col2': [10, 20, 30, 40, 50, 60],
                   'col3': ['서울시', '경기도', '서울시', '제주도', '경기도', '서울시']})
df

  col1  col2 col3
0  001    10  서울시
1  002    20  경기도
2  003    30  서울시
3  004    40  제주도
4  005    50  경기도
5  006    60  서울시

In [ ]:
pd.get_dummies(df)

   col2  col1_001  col1_002  col1_003  ...  col1_006  col3_경기도  col3_서울시  col3_제주도
0    10         1         0         0  ...         0         0         1         0
1    20         0         1         0  ...         0         1         0         0
2    30         0         0         1  ...         0         0         1         0
3    40         0         0         0  ...         0         0         0         1
4    50         0         0         0  ...         0         1         0         0
5    60         0         0         0  ...         1         0         1         0

[6 rows x 10 columns]

In [ ]:
pd.get_dummies(df, columns=['col3'])

  col1  col2  col3_경기도  col3_서울시  col3_제주도
0  001    10         0         1         0
1  002    20         1         0         0
2  003    30         0         1         0
3  004    40         0         0         1
4  005    50         1         0         0
5  006    60         0         1         0

In [ ]:
pd.get_dummies(df, columns=['col3'], prefix=['state'])

  col1  col2  state_경기도  state_서울시  state_제주도
0  001    10          0          1          0
1  002    20          1          0          0
2  003    30          0          1          0
3  004    40          0          0          1
4  005    50          1          0          0
5  006    60          0          1          0

# groupby

## groupby

최적화된 groupby메소드

|메소드|설명|
|---|---|
|count|그룹에서 NA가 아닌 값의 수를 반환|
|sum|NA가 아닌 값들의 합|
|mean|NA가 아닌 값들의 평균|
|median|NA가 아닌 값들의 산술 중간값|
|std, var|편향되지 않은(n-1을 분모로 하는) 표준편차, 분산|
|min, max|NA가 아닌 값들 중 최소값과 최대값|
|prod|NA가 아닌 값들의 곱|
|first, last|NA가 아닌 값들 중 첫째 값과 마지막 값|

In [ ]:
kbo = pd.read_csv('kbo.csv')
kbo.head()

     연도  순위   팀  경기수   승   패  무     승률   게임차
0  2019   1  두산  144  88  55  1  0.615   0.0
1  2019   2  키움  144  86  57  1  0.601   2.0
2  2019   3  SK  144  88  55  1  0.615   0.0
3  2019   4  LG  144  79  64  1  0.552   9.0
4  2019   5  NC  144  73  69  2  0.514  14.5

In [ ]:
kbo['팀'].unique()

array(['두산', '키움', 'SK', 'LG', 'NC', 'KT', 'KIA', '삼성', '한화', '롯데', '넥센'],
      dtype=object)

In [ ]:
kbo.groupby('팀')

In [ ]:
kbo.groupby('팀').count()

     연도  순위  경기수  승  패  무  승률  게임차
팀
KIA   3   3    3  3  3  3   3    3
KT    3   3    3  3  3  3   3    3
LG    3   3    3  3  3  3   3    3
NC    3   3    3  3  3  3   3    3
SK    3   3    3  3  3  3   3    3
넥센    2   2    2  2  2  2   2    2
두산    3   3    3  3  3  3   3    3
롯데    3   3    3  3  3  3   3    3
삼성    3   3    3  3  3  3   3    3
키움    1   1    1  1  1  1   1    1
한화    3   3    3  3  3  3   3    3

In [ ]:
kbo.groupby('팀').mean()

         연도        순위    경기수  ...         무        승률        게임차
팀                             ...
KIA  2018.0  4.333333  144.0  ...  1.000000  0.510333  11.333333
KT   2018.0  8.333333  144.0  ...  1.666667  0.421667  24.000000
LG   2018.0  6.000000  144.0  ...  1.666667  0.505667  12.000000
NC   2018.0  6.333333  144.0  ...  2.000000  0.493333  13.833333
SK   2018.0  3.333333  144.0  ...  1.000000  0.561333   4.000000
넥센   2017.5  5.500000  144.0  ...  1.000000  0.503500  10.500000
두산   2018.0  1.333333  144.0  ...  1.333333  0.619000  -4.166667
롯데   2018.0  6.666667  144.0  ...  2.333333  0.460667  18.333333
삼성   2018.0  7.333333  144.0  ...  3.333333  0.434000  22.166667
키움   2019.0  2.000000  144.0  ...  1.000000  0.601000   2.000000
한화   2018.0  6.666667  144.0  ...  0.666667  0.456000  19.166667

[11 rows x 8 columns]

In [ ]:
kbo.groupby(['연도','팀']).sum()

          순위  경기수   승   패  무     승률   게임차
연도   팀
2017 KIA   1  144  87  56  1  0.608   0.0
     KT   10  144  50  94  0  0.347  37.5
     LG    6  144  69  72  3  0.489  17.0
     NC    4  144  79  62  3  0.560   7.0
     SK    5  144  75  68  1  0.524  12.0
     넥센    7  144  69  73  2  0.486  17.5
     두산    2  144  84  57  3  0.596   2.0
     롯데    3  144  80  62  2  0.563   6.5
     삼성    9  144  55  84  5  0.396  30.0
     한화    8  144  61  81  2  0.430  25.5
2018 KIA   5  144  70  74  0  0.486   8.5
     KT    9  144  59  82  3  0.418  18.0
     LG    8  144  68  75  1  0.476  10.0
     NC   10  144  58  85  1  0.406  20.0
     SK    2  144  78  65  1  0.545   0.0
     넥센    4  144  75  69  0  0.521   3.5
     두산    1  144  93  51  0  0.646 -14.5
     롯데    7  144  68  74  2  0.479   9.5
     삼성    5  144  68  72  4  0.486   8.5
     한화    3  144  77  67  0  0.535   1.5
2019 KIA   7  144  62  80  2  0.437  25.5
     KT    6  144  71  71  2  0.500  16.5
     LG    4  144  79  64  1  0.552   9.0
     NC    5  144  73  69  2  0.514  14.5
     SK    3  144  88  55  1  0.615   0.0
     두산    1  144  88  55  1  0.615   0.0
     롯데   10  144  48  93  3  0.340  39.0
     삼성    8  144  60  83  1  0.420  28.0
     키움    2  144  86  57  1  0.601   2.0
     한화    9  144  58  86  0  0.403  30.5

In [ ]:
kbo.groupby('팀')['승률'].max()

팀
KIA    0.608
KT     0.500
LG     0.552
NC     0.560
SK     0.615
넥센     0.521
두산     0.646
롯데     0.563
삼성     0.486
키움     0.601
한화     0.535
Name: 승률, dtype: float64

In [ ]:
kbo.groupby(['연도','팀'])['승률', '순위'].max()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

             승률  순위
연도   팀
2017 KIA  0.608   1
     KT   0.347  10
     LG   0.489   6
     NC   0.560   4
     SK   0.524   5
     넥센   0.486   7
     두산   0.596   2
     롯데   0.563   3
     삼성   0.396   9
     한화   0.430   8
2018 KIA  0.486   5
     KT   0.418   9
     LG   0.476   8
     NC   0.406  10
     SK   0.545   2
     넥센   0.521   4
     두산   0.646   1
     롯데   0.479   7
     삼성   0.486   5
     한화   0.535   3
2019 KIA  0.437   7
     KT   0.500   6
     LG   0.552   4
     NC   0.514   5
     SK   0.615   3
     두산   0.615   1
     롯데   0.340  10
     삼성   0.420   8
     키움   0.601   2
     한화   0.403   9

## groupby.get_group
- 특정한 key값을 가진 그룹의 정보만 추출

In [ ]:
grouped= kbo.groupby('팀')
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
for name, group in grouped:
    print(name)
    print(group)
    
    print('-'*50)

KIA
      연도  순위    팀  경기수   승   패  무     승률   게임차
6   2019   7  KIA  144  62  80  2  0.437  25.5
14  2018   5  KIA  144  70  74  0  0.486   8.5
20  2017   1  KIA  144  87  56  1  0.608   0.0
--------------------------------------------------
KT
      연도  순위   팀  경기수   승   패  무     승률   게임차
5   2019   6  KT  144  71  71  2  0.500  16.5
18  2018   9  KT  144  59  82  3  0.418  18.0
29  2017  10  KT  144  50  94  0  0.347  37.5
--------------------------------------------------
LG
      연도  순위   팀  경기수   승   패  무     승률   게임차
3   2019   4  LG  144  79  64  1  0.552   9.0
17  2018   8  LG  144  68  75  1  0.476  10.0
25  2017   6  LG  144  69  72  3  0.489  17.0
--------------------------------------------------
NC
      연도  순위   팀  경기수   승   패  무     승률   게임차
4   2019   5  NC  144  73  69  2  0.514  14.5
19  2018  10  NC  144  58  85  1  0.406  20.0
23  2017   4  NC  144  79  62  3  0.560   7.0
--------------------------------------------------
SK
      연도  순위   팀  경기수   승   패  무     승률   게임차
2   2019   3  SK  144  88  55  1  0.615   0.0
11  2018   2  SK  144  78  65  1  0.545   0.0
24  2017   5  SK  144  75  68  1  0.524  12.0
--------------------------------------------------
넥센
      연도  순위   팀  경기수   승   패  무     승률   게임차
13  2018   4  넥센  144  75  69  0  0.521   3.5
26  2017   7  넥센  144  69  73  2  0.486  17.5
--------------------------------------------------
두산
      연도  순위   팀  경기수   승   패  무     승률   게임차
0   2019   1  두산  144  88  55  1  0.615   0.0
10  2018   1  두산  144  93  51  0  0.646 -14.5
21  2017   2  두산  144  84  57  3  0.596   2.0
--------------------------------------------------
롯데
      연도  순위   팀  경기수   승   패  무     승률   게임차
9   2019  10  롯데  144  48  93  3  0.340  39.0
16  2018   7  롯데  144  68  74  2  0.479   9.5
22  2017   3  롯데  144  80  62  2  0.563   6.5
--------------------------------------------------
삼성
      연도  순위   팀  경기수   승   패  무     승률   게임차
7   2019   8  삼성  144  60  83  1  0.420  28.0
15  2018   5  삼성  144  68  72  4  0.486   8.5
28  2017   9  삼성  144  55  84  5  0.396  30.0
--------------------------------------------------
키움
     연도  순위   팀  경기수   승   패  무     승률  게임차
1  2019   2  키움  144  86  57  1  0.601  2.0
--------------------------------------------------
한화
      연도  순위   팀  경기수   승   패  무     승률   게임차
8   2019   9  한화  144  58  86  0  0.403  30.5
12  2018   3  한화  144  77  67  0  0.535   1.5
27  2017   8  한화  144  61  81  2  0.430  25.5
--------------------------------------------------

In [ ]:
grouped.get_group('한화')

      연도  순위   팀  경기수   승   패  무     승률   게임차
8   2019   9  한화  144  58  86  0  0.403  30.5
12  2018   3  한화  144  77  67  0  0.535   1.5
27  2017   8  한화  144  61  81  2  0.430  25.5

## groupby.agg
- 그룹별로 특정한 집계 함수 적용

In [ ]:
grouped.agg(['mean', np.std])

         연도                  순위  ...        승률        게임차
       mean       std      mean  ...       std       mean        std
팀                                ...
KIA  2018.0  1.000000  4.333333  ...  0.088059  11.333333  12.983964
KT   2018.0  1.000000  8.333333  ...  0.076566  24.000000  11.715375
LG   2018.0  1.000000  6.000000  ...  0.040649  12.000000   4.358899
NC   2018.0  1.000000  6.333333  ...  0.079053  13.833333   6.525591
SK   2018.0  1.000000  3.333333  ...  0.047648   4.000000   6.928203
넥센   2017.5  0.707107  5.500000  ...  0.024749  10.500000   9.899495
두산   2018.0  1.000000  1.333333  ...  0.025239  -4.166667   9.004628
롯데   2018.0  1.000000  6.666667  ...  0.112625  18.333333  17.960605
삼성   2018.0  1.000000  7.333333  ...  0.046605  22.166667  11.877851
키움   2019.0       NaN  2.000000  ...       NaN   2.000000        NaN
한화   2018.0  1.000000  6.666667  ...  0.069735  19.166667  15.502688

[11 rows x 16 columns]

In [ ]:
grouped['순위'].agg([('함수', lambda val : val.max()-val.min())])

     함수
팀
KIA   6
KT    4
LG    4
NC    6
SK    3
넥센    3
두산    1
롯데    7
삼성    4
키움    0
한화    6

In [ ]:
grouped.agg({'순위':np.mean, '승률':[np.mean, np.std]})

           순위        승률
         mean      mean       std
팀
KIA  4.333333  0.510333  0.088059
KT   8.333333  0.421667  0.076566
LG   6.000000  0.505667  0.040649
NC   6.333333  0.493333  0.079053
SK   3.333333  0.561333  0.047648
넥센   5.500000  0.503500  0.024749
두산   1.333333  0.619000  0.025239
롯데   6.666667  0.460667  0.112625
삼성   7.333333  0.434000  0.046605
키움   2.000000  0.601000       NaN
한화   6.666667  0.456000  0.069735

### groupby.filter

In [ ]:
kbo.groupby('팀').filter(lambda x: len(x)==2)

      연도  순위   팀  경기수   승   패  무     승률   게임차
13  2018   4  넥센  144  75  69  0  0.521   3.5
26  2017   7  넥센  144  69  73  2  0.486  17.5

In [ ]:
kbo.groupby('팀').filter(lambda x: x['순위'].min()==1)

      연도  순위    팀  경기수   승   패  무     승률   게임차
0   2019   1   두산  144  88  55  1  0.615   0.0
6   2019   7  KIA  144  62  80  2  0.437  25.5
10  2018   1   두산  144  93  51  0  0.646 -14.5
14  2018   5  KIA  144  70  74  0  0.486   8.5
20  2017   1  KIA  144  87  56  1  0.608   0.0
21  2017   2   두산  144  84  57  3  0.596   2.0